:root{
    --secondaryBackgroundColor:#FFF3E0;
    --backgroundColor:#FFF8F0;
    --primaryFont-Color:#D35400;
    --secondaryFont-Color:#7F5A3A;
    --NavBarColor:#F4A527;
    --NavlinkColor:#ffffff;
    --NavlinkColorHover:#3e2723;
    --btnColor:#F39C12;
    --FontFamily:'Poppins', sans-serif;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: var(--backgroundColor);
    font-family: var(--FontFamily);
    font-size: 1.1rem; 
    line-height: 1.6; 
    color: var(--NavlinkColor);
}
.container{
    width: 74%;
}
.backgroundColor{
    background-color: var(--backgroundColor);
}
.secondaryBackgroundColor{
    background-color: var(--secondaryBackgroundColor);
}
.lightFont{
    color: var(--secondaryFont-Color);
    
}
.secondFontColor{
    color: var(--NavBarColor);
}
.titleFont{
    color: var(--primaryFont-Color);

}
.darkFont{
    color: var(--NavlinkColorHover);
}
.btnColorgradinat{
    display: inline-block;
    background: linear-gradient(to right, var(--primaryFont-Color), var(--btnColor));
    color: var(--NavlinkColor);
    box-shadow: 0 6px 15px rgba(243, 156, 18, 0.6);
    padding: 0.7rem 2.5rem;  
}
.btnColorgradinat:hover{
    background: linear-gradient(to right, var(--primaryFont-Color), var(--btnColor));
    color: var(--NavlinkColor);
}



/* .navbar .container{
    background-color: transparent;
} */
.navbar ul li a {
    text-decoration: none;
    color: var(--NavlinkColor);
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}
nav ul li a:hover,
nav ul li a:focus {
    color: var(--text-dark);
}
.navbar ul li a::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--backgroundColor);
    transition: width 0.3s ease-in-out;
}
.NavLink:hover ::after{
    width: 10px;
}
nav ul li a:hover::after,
nav ul li a:focus::after {
    width: 100%;
}
.navbarColor{
    background-color: transparent;
}
.navbarColorScroll{
    background-color: var(--NavBarColor);
}
#home{
    background: linear-gradient(rgba(211, 84, 0, 0.314)),url(../images/ImageBg.avif);
    background-position: center;
    background-size: cover;
    scroll-margin-top: 70px;
    width: 100%;
}
.child{
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.227);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.144);
}
.btnColor{
    background-color: var(--btnColor);
    color: var(--NavlinkColor);
    box-shadow: 0 5px 10px rgba(243, 156, 18, 0.6);

    transition: all 0.3s ease-in-out;
}
.btnColor:hover{
    background-color: var(--primaryFont-Color);
    color: var(--NavlinkColor);
    box-shadow: 0 5px 10px var(--primaryFont-Color);
}
/* .btn:hover{
    background-color: var(--NavlinkColorHover);
    color: var(--NavlinkColor);
} */

.cardBg{
    background-color: var(--primaryFont-Color);
    box-shadow: 0 6px 15px rgba(211, 84, 0, 0.4);
    transition: all 0.3s ease-in-out;
    min-height: 250px;
}
.cardBg:hover{
   transform: translateY(-10px);
   box-shadow: 0 12px 30px rgba(211, 84, 0, 0.6);
}
.fontSize{
    font-size: 1rem;
}
.card{
    box-shadow: 0 6px 15px rgba(211, 84, 0, 0.15);
    height: 520px;
    transition: transform 0.3s ease;
}
.card:hover{
    transform: translateY(-8px);
    box-shadow: 0 12px 30px rgba(211, 84, 0, 0.3);
}
.carousel-indicators [data-bs-target] {
    background-color: var(--NavlinkColorHover);
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.btnColorform{
    background: var(--primaryFont-Color);
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
    padding: 1rem;
    border: none;
    transition: all 0.3s ease;
}
#Testimonials .card{
    height: fit-content;
}
.btnColorform:hover {
    background: var(--btnColor);
}
.form-control:focus {
    background-color: #ffffff;
    border:none;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(243, 156, 18, 0.25);
}
.fontHeader{
    font-size: 3.5rem;
}
.HomeFont{
    font-size: 1.4rem;
}
@media screen and (max-width: 768px) {
  .container{
        width: 100%;
   } 
   .fontHeader{
        font-size: 2rem;
    }
    .HomeFont{
        font-size: 1.1rem;
    }
    .cardBg{
        min-height: fit-content;
    }
}