*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    width: 85%;
    /* overflow: hidden; */
}
.container1{
    width: 75%;
}
.fontfamily{
    font-family: "Open Sans", sans-serif;
}
.fontfamily1{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}
.homebar_icon{
    font-size: 16px;
    padding: 4px;
    color: rgb(255, 255, 255);    
}
#homebar{
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1000;
}
.navbarColor{
    background-color: rgba(0, 0, 0, 0);
}
.NavlinkColor{
    color: rgb(255, 255, 255);
}

.navbarColorScroll{
    background-color: rgb(255, 255, 255);
}
.homebar_iconScroll{
    font-size: 16px;
    padding: 4px;
    color: rgb(36, 35, 35);    
}
.NavlinkColorScroll{
    color: rgb(33, 33, 33);
}



#exampleModal .modelbg_color{
    background-color: rgba(0, 0, 0, 0.293);
}
.modal-body .btnposi{
    top: 30%;
    left: 70%;
}
.modal-body .homebar_icon{
    font-size: 40px;
    padding: 4px;
    color: #414040;    
}


 #home{
    width: 100%;
    height: 100dvh;
    background:linear-gradient(#2184e1c8),url('../images/agency-1.jpg') ;
    background-position: center;
    background-size: cover;
    overflow: hidden;
 }

 
 .layer{
    height: 100%;
    padding-block: 200px;
    background-color: #0000005f;
    top: 0px;
    left: 0px;
    opacity: 0;
    transition: all 0.4s;
 }

 .layer:hover{
    opacity: 100%;
 }
 .layer .icons{
  font-size: 25px;
  padding: 10px;
  margin-inline: 5px;
  border: 1;
  background-color: #C3BBB6;
  color: #302f2e;
  border-radius: 50%;
 }
/* .layer:hover .imghover{
    transform: scale(1.3);
 } */
.imghover{
    transition: all 0.5s;
}
.divimage:hover .imghover{
    transform: scale(1.1);
 }

.divimage:hover .layer{
    opacity: 100%;
 }

 #image1 .modelbg_color{
    background-color: rgba(0, 0, 0, 0);
 }


#Testimonials .btn_look_Testimonials{
    width: 12px;
    height: 10px;
    border-radius: 50%;
}

#Latest-News .news_icon{
    font-size: 13px;
    transition: all 0.5s;
}
.readhov{
    color: #686868;
    transition: all 0.5s;
}
.readhov:hover{
    color: #3E76D2;
}
.readhov:hover .news_icon{
   transform: translateX(10px);
}

#Latest-News .Latest-News_p{
    font-size: 13.5px;
}
.p-size{
    font-size: 18px;
}
#Latest-News .btn_look_Latest-News{
    width: 10px;
    height: 12px;
    border-radius: 50%;
}
.btn-color{
    background-color: #1976D2;
    color: white;
    padding-block: 17px;
    padding-inline: 32px;
    font-weight: bold;
    margin-bottom: 70px
}
.btn-color:hover{
    background-color:#333333;
    color: white;
}
.buttonw{
    width: 160px;
    height: 50px;
}

#end-sectioncontent{
    background-color: #1B1B1B;
}
#end-sectioncontent .p_size{
    font-size: 18px;
}

#endsection{
    background-color: #151515;
}
#endsection .facebook_icon{
    font-size: 20px;
    padding: 3px;
    color: #504e4e; 
}
#endsection .facebook_icon:hover{
    color: #3B5998;
}
#endsection .google_icon{
    font-size: 20px;
    padding: 3px;
    color: #504e4e; 
}
#endsection .google_icon:hover{
    color:#DD4B39;
}
#endsection .linkedin-in_icon{
    font-size: 20px;
    padding: 3px;
    color: #504e4e; 
}
#endsection .linkedin-in_icon:hover{
    color:#007BB5;
}
#endsection .twitter_icon{
    font-size: 20px;
    padding: 3px;
    color: #504e4e; 
}
#endsection .twitter_icon:hover{
    color:#00ACED;
}

#carouselExample .carousel-indicators{
    text-indent: 0px;
    padding: 0px;
    margin-right: 0;
    margin-bottom: 1rem;
    margin-left: 0;
}

#carouselExample .carousel-indicators [data-bs-target] {
    text-indent: 0px;
}

.carousel-indicators{
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;          
  height: 40px;         
  background-color: #ffffff; 
  border: none;
  border-radius: 50%;
  margin: 10px;
  text-align: center;
  z-index: 1000;
}
.scroll-to-top .icon{
  font-size: 25px;
  color: rgb(91, 91, 91);
  margin: auto;
  padding: 7px;
  z-index: 1000;
}
.scroll-to-top:hover {
  background-color: #2d2b2b;
}
html {
  scroll-behavior: smooth;
}
.fontSize{
    font-size: 30px;
}
.fontSize1{
    font-size: 20px;
}

@media screen and (min-width: 768px) and (max-width: 990px) {
    .container{
        overflow: hidden;
    }
    .container1{
        width: 100%;
    }
    .padd{
        padding: 0px;
        margin: 0px;
    }
    .rowgap{
        gap: 10px;
    }
    
}
@media screen and (min-width: 424px) and (max-width: 767px) {
    .container{
        overflow: hidden;
    }
    .container1{
        width: 100%;
    }
    .padd{
        padding: 0px;
        margin: 0px;
    }
    .rowgap{
        gap: 10px;
    }
    
}
@media screen and (min-width: 374px) and (max-width: 424px) {
    .container{
        overflow: hidden;
    }
    .container1{
        width: 100%;
    }
    .padd{
        padding: 0px;
        margin: 0px;
    }
    .rowgap{
        gap: 10px;
    }
    
}
@media screen and (min-width: 320px) and (max-width: 374px) {
    .container{
        overflow: hidden;
    }
    .container1{
        width: 100%;
    }
    .padd{
        padding: 0px;
        margin: 0px;
    }
    .rowgap{
        gap: 10px;
    }
    

}
